---
layout: default
title: Haz tu cirugía Mommy Makeover con el cirujano Hermes Gamba
description: Recupera el cuerpo que te encanta lucir. Conviértete en una hermosa mamá con el doctor cirujano Hermes Gamba, especialista en cirugía Mommy Makeover
---
<div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C185.66,214.64 302.48,-40.94 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: var(--secundario);"></path></svg></div>
<section class="wrapper puntos-dolor">
  <h2>Después de la hermosa experiencia de ser mamá, quizá hoy tu cuerpo experimenta estos cambios</h2>
  <div>
    <article>
      <img src="{{'img/mommy-makeover-success.webp'|relative_url}}" alt="Cirugía Mommy Makeover">
      <p>Senos sin volumen y caídos, o grandes y desproporcionados</p>
    </article>
    <article>
      <img src="{{'img/mommy-makeover-success.webp'|relative_url}}" alt="Cirugía Mommy Makeover">
      <p>Abdomen caído y flácido o con nuevos gorditos</p>
    </article>
    <article>
      <img src="{{'img/mommy-makeover-success.webp'|relative_url}}" alt="Cirugía Mommy Makeover">
      <p>Piel de más en tu abdomén o con estrías que no desaparecen</p>
    </article>
  </div>
  <p>Todas son dificultades propias del embarazo. Pero no te preocupas. Todas y cada una de ellas <strong>tienen una solución definitiva.</strong></p>
</section>

<section class="doctor wrapper">
  <img src="{{'img/hermes-gamba.jpg'|relative_url}}" alt="Cirujano Hermes Gamba">
  <div class="flow">
    <h2>Devuelve a tu cuerpo su vitalidad y belleza con la cirugía MOMMY MAKEOVER</h2>
    <p>Soy el doctor cirujano <strong>Hermes Gamba.</strong> Desde hace 20 años ejerzo mi <strong>pasión por mejorar vidas.</strong> Hoy te ofrezco la renovación que necesitas con esta práctico procedimiento. Te explico en qué consiste:</p>
    {% include boton.html %}
  </div>
  <ul>
    <li>
      <span>1.</span>
      <div>
        <h4>Recupera tu abdomen y cintura</h4>
        <p> Con la abdominoplastia vuelve a lucir tu abdomen, tu cintura y tu ombligo con una figura atractiva y esbelta.</p>
      </div>
      <img src="{{'img/mommy-makeover-success.webp'|relative_url}}" alt="">
    </li>
    <li>
      <span>2.</span>
      <div>
        <h4>Estiliza tus senos</h4>
        <p> Practicando un levantamiento quirúrgico consigue la plenitud de tus senos. Aumenta o disminuye su tamaño según la simetría de tu cuerpo.</p>
      </div>
      <img src="{{'img/mommy-makeover-success.webp'|relative_url}}" alt="">
    </li>
    <li>
      <span>3.</span>
      <div>
        <h4>Elimina la grasa adquirida</h4>
        <p> Extrae la grasita que te dejaron tantos antojos y destaca con una cintura hermosa y atractiva.</p>
      </div>
      <img src="{{'img/mommy-makeover-success.webp'|relative_url}}" alt="">
    </li>
    <li>
      <span>4.</span>
      <div>
        <h4>Mejora la apariencia de tu zona íntima</h4>
        <p> Haz que la forma, el tamaño y la función de tu vagina te haga sentir segur y hermosa en tu intimidad.</p>
      </div>
      <img src="{{'img/mommy-makeover-success.webp'|relative_url}}" alt="">
    </li>
  </ul>
</section>

{% include testimonio.html url="https://www.youtube.com/embed/u09eYr0IQF0?si=mYkAyfiUZkxMe7yS" title="Recuperé la atención de mi esposo" %}