---
layout: default
title: Hermes Gamba | Médico Cirujano y Estético Colombiano
description: Soy el cirujano plástico Hermes Gamba. Te ayudo a cambiar tu vida consiguiendo el cuerpo que sueñas tener. Contáctame y separemos la cita que te ayudará a descubrir cómo
---
<main class="container-wrap">
  <!-- ##### PARALLAX OVAL #####-->
  <div class="parallax-wrap">
    <div>
      <div class="inner-parallax about">
        <div class="figure">
          <div>
            <div data-enllax-ratio="-0.15" data-enllax-type="foreground">
              <div class="parallax-oval parallax-primary"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- ##### END PARALLAX OVAL #####-->
  <!-- ##### BANNER #####-->
  <section id="banner">
    <div class="hero-content">
      <div class="hidden-sm-up">
        <figure class="mobile-cover">
          <img src="/img/doctor-hermes-gamba.webp" alt="cover">
        </figure>
      </div>
      <div class="container mq-lg-up" data-class="fixed-width">
        <div class="row">
          <div class="col-md-6 px-0">
            <div class="banner-text">
              <div class="title">
                <h1 class="text-helper use-text-title">Cirujano plástico y estético en Colombia</h1>
              </div>
              <p class="subtitle use-text-subtitle2">Soy el cirujano plástico Hermes Gamba. Te ayudo a cambiar tu vida consiguiendo el cuerpo que sueñas tener.</p>
              <p>Envía tu número y te contactaremos para guiarte en este hermoso camino:</p>
              {% include boton.html %}
            </div>
          </div>
          <div class="col-md-6 pa-6 show-sm-up">
            <div class="deco-banner">
              <div class="menu-bg"></div>
              <div class="video-bg"></div>
            </div>
            <div class="video-wrap">
              <div class="video-figure">
                <div class="inner-figure">
                  <img class="show-md-down" src="/img/doctor-hermes-gamba.webp" alt="cover" >
                  <img class="hidden-md-down" id="banner_cover" src="/img/doctor-hermes-gamba.webp" alt="cover" >
                </div>
              </div>
            </div>
            <div class="parallax-banner">
              <div class="parallax-wrap dots-wrap">
                <div class="inner-parallax">
                  <div class="figure">
                    <div>
                      <div data-enllax-ratio="0.2" data-enllax-type="foreground">
                        <img src="./assets/images/decoration/dot-deco.svg" alt="dot deco" >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- ##### END BANNER #####-->
  <!-- ##### ABOUT #####-->
  <section class="space-top-short is-md" id="about">
    <div class="root">
      <div class="container fixed-width">
        <div class="row">
          <div class="col-md-5 py-md-6 px-sm-6 px-0">
            <div class="text-center">
              <div>
                <div class="title-deco">
                  <h3 class="bg-img">
                    <span>Opérate sin temor</span>
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7 pa-6">
            <h4 class="title-default use-text-subtitle">Te compartimos las razones que hacen que nuestros pacientes sigan confiando en mi.</h4>
            <div class="counter-wrap">
              <div class="container fixed-width">
                <div class="row justify-content-center align-items-center">
                  <div class="col ma-sm-0 my-4">
                    <div class="counter-item deco">
                      <div class="text">
                        <h3>+1000</h3>
                        <p>procedimientos</p>
                      </div>
                    </div>
                  </div>
                  <div class="col ma-sm-0 my-4">
                    <div class="counter-item deco">
                      <div class="text">
                        <h3>+850</h3>
                        <p>pacientes</p>
                      </div>
                    </div>
                  </div>
                  <div class="col ma-sm-0 my-4">
                    <div class="counter-item">
                      <div class="text">
                        <h2>+15</h2>
                        <p>años de experiencia</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <blockquote>Te ayudo a resolver tus dudas, a superar tus temores y a conseguir el gran cambio que buscas.</blockquote>
          </div>
        </div>
      </div>
    </div>
  </section><!-- ##### END ABOUT #####-->
  <!-- ##### FACILITIES #####-->
  <section class="space-top" id="facility">
    <div class="root">
      <div class="carousel-handle">
        <div class="carousel-wrap">
          <div class="carousel">
            <div class="slick-carousel" id="services_carousel" data-length="6">
              <div class="item show-lg-up">
                <div class="carousel-prop">
                  <div></div>
                </div>
              </div>
              <div class="item show-lg-up">
                <div class="carousel-prop">
                  <div></div>
                </div>
              </div>
              {% for servicio in site.data.servicios %}
              <div class="item">
                <div class="card default-card">
                  <figure><img src="{{site.baseurl}}/img/{{servicio.img}}" alt="{{servicio.alt}}" ></figure>
                  <div class="text">
                    <a href="{{site.baseurl}}{{servicio.url}}">
                      <h6 class="title">{{servicio.title}} </h6>
                    </a>
                    <p>{{servicio.p}}</p>
                  </div>
                  <a class="btn waves-effect block secondary button" href="https://api.whatsapp.com/send?phone=+573154536211&text=Hola%20%F0%9F%91%8B%20Por%20favor,%20env%C3%ADame%20m%C3%A1s%20informaci%C3%B3n%20sobre%20esta%20operaci%C3%B3n:%20{{servicio.title}}">Infórmate</a>
                </div>
              </div>
              {% endfor %}
              
            </div>
          </div>
        </div>
      </div>
      <div class="floating-title">
        <div class="container fixed-width">
          <div class="title">
            <div class="title-icon-deco">
              <div class="capsul"></div>
              <div class="circle"></div>
              <i class="material-icons icon">library_add</i>
              <h3>¿Cuál te gustaría?</h3>
            </div>
            <nav class="arrow">
              <button class="btn-floating margin waves-effect" id="next_services"><i class="material-icons">arrow_back</i></button>
              <button class="btn-floating margin waves-effect" id="prev_services"><i class="material-icons">arrow_forward</i></button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section><!-- ##### END FACILITIES #####-->
  <!-- ##### EXPERTISE #####-->
  <section class="space-top is-md" id="our-expertise">
    <div class="root">
      <div class="container">
        <div class="row spacing8">
          <div class="col-lg-1 show-lg-up"></div>
          <div class="col-md-5 text-center text-lg-start">
            <div class="title-deco">
              <div class="decoration show-lg-up"></div>
              <div>
                <div class="title-deco">
                  <h3 style="background-image: url()">
                    <span>Tu gran cambio</span>
                  </h3>
                </div>
              </div>
            </div>
            <div class="wow parallax-scene zoomInShort" data-wow-offset="-100" data-wow-delay="0.1s" data-wow-duration="0.3s">
              <div class="parallax-scene">
                <div id="scene">
                  <div data-depth="0.15"><span class="icon-green"></span></div>
                  <div data-depth="0.1"><span class="icon-red"></span></div>
                  <div data-depth="0.3"><span class="icon-blue"></span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-7">
            <h4 class="title-default use-text-subtitle">Soy Hermes Gamba, cirujano plástico graduado en la Universidad Uniboyaca de Tunja. Y soy cirujano especializado en la Habana, Cuba</h4>
            <p class="desc use-text-paragraph">Cumpliendo los sueños de mis pacientes, estoy a un paso de la aceptación por parte de <strong>la Sociedad Colombiana de Cirugía plástica</strong>.</p>
            <div class="hidden-xs-down">
              <div class="running-tag">
                <div class="slick-carousel" id="expertise_carousel">
                  <div class="tag-group">
                    <span class="tag-item">Liposucción</span>
                    <span class="tag-item">Mommy Makeover</span>
                    <span class="tag-item">Mamoplastia</span>
                  </div>
                  <div class="tag-group">
                    <span class="tag-item">Rinoplastia</span>
                    <span class="tag-item">Gluteoplastia</span>
                    <span class="tag-item">Lipoescultura</span>
                  </div>
                  <div class="tag-group">
                    <span class="tag-item">Lipopapada</span>
                    <span class="tag-item">Bichetomía</span>
                    <span class="tag-item">Gluteoplastia</span>
                  </div>
                  <div class="tag-group">
                    <span class="tag-item">Blefaroplastia</span>
                    <span class="tag-item">Vaginoplastia</span>
                    <span class="tag-item">Mentoplastia</span>
                  </div>
                  <div class="tag-group">
                    <span class="tag-item">Otoplastia</span>
                    <span class="tag-item">Pexia mamaria</span>
                    <span class="tag-item">Ginecomastia</span>
                  </div>
                  <div class="tag-group">
                    <span class="tag-item">Bictomía</span>
                    <span class="tag-item">Liposucción</span>
                    <span class="tag-item">Mommy Makeover</span>
                  </div>
                  <div class="tag-group">
                    <span class="tag-item">Rinoplastia</span>
                    <span class="tag-item">Gluteoplastia</span>
                    <span class="tag-item">Lipoescultura</span>
                  </div>
                  <div class="tag-group">
                    <span class="tag-item">Lipopapada</span>
                    <span class="tag-item">Bichetomía</span>
                    <span class="tag-item">Gluteoplastia</span>
                  </div>
                  <div class="tag-group">
                    <span class="tag-item">Blefaroplastia</span>
                    <span class="tag-item">Vaginoplastia</span>
                    <span class="tag-item">Mentoplastia</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- ##### END EXPERTISE #####-->
  <!-- ##### ASK DOCTORS #####-->
  <section class="space-top is-xs" id="ask-doctors">
    <div class="root">
      <div class="deco"></div>
      <div class="container fixed-width-md-up">
        <div class="row spacing6 justify-content-center">
          <div class="col-md-2 col-sm-9 pa-0">
            <div class="wow fadeInLeftShort" data-offset="-100" data-delay="0.2s" data-duration="0.3s">
              <div class="side-filter">
                <h4 class="title-primary mt-10">Atención premium</h4>
                <p>Además de conseguir tu cuerpo o rostro soñado, también podrás vivir una experiencia innovadora en la cirugía plástica:</p>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-10 pa-lg-6 py-0">
            <div class="pa-6 py-0">
              <div class="px-lg-8 px-3">
                <h4 class="title-primary mt-10">Más beneficios</h4>
              </div>
              <div class="massonry">
                <div class="row">
                  {% for item in site.data.premium %}
                  <div class="col-sm-6 px-lg-8 px-3 py-3">
                    <div class="wow fadeInUpShort" data-wow-delay="0s" data-wow-duration="0.4s">
                      <div class="card profile">
                        <div class="person">
                          <div class="avatar-img avatar">
                            {{item.svg}}
                          </div>
                          <div class="name">
                            <h4>{{item.title}}</h4>
                            <p>{{item.p}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- ##### END ASK DOCTORS #####-->
  <section class="space-top-short" id="testimonials">
    <div class="root">
      <div class="carousel">
        <div class="slick-carousel" id="testimonial_carousel" data-length="9">
          <div class="item show-lg-up">
            <div class="item-props-first"></div>
          </div>
          {% for item in site.data.testimonios %}
          <div class="item">
            <div class="testi-card">
              <div class="card paper">
                <p>{{item.testimonio}}</p>
                <div class="rating"><i class="material-icons star-icon" title="1">star</i><i class="material-icons star-icon" title="2">star</i><i class="material-icons star-icon" title="3">star</i><i class="material-icons star-icon" title="4">star</i><i class="material-icons star-icon" title="5">star</i></div>
              </div>
              <div class="person">
                <div class="name">
                  <h6>{{item.name}}</h6><span class="caption">{{item.origen}}</span>
                </div>
                <div class="avatar-img avatar">
                  <img src="{{site.baseurl}}/img/{{item.img}}" alt="Cliente {{item.name}} - Hermes Gamba" >
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="item show-lg-up">
            <div class="item-props-last"></div>
          </div>
        </div>
      </div>
      <div class="floating-title">
        <div class="container fixed-width">
          <div class="title">
            <div class="title-icon-deco">
              <div class="capsul"></div>
              <div class="circle"></div>
              <i class="material-icons icon">format_quote</i>
              <h3>Mis pacientes felices</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include cta.html %}
  <!-- ##### FACILITIES #####-->
<section class="space-top" id="facility">
  <div class="root">
    <div class="blog-main">
      <h2>Aprende más con el blog del cirujano plástico Hermes Gamba</h2>
        {% for servicio in site.posts limit:3 %}
        <article>
          <a href="{{site.baseurl}}{{servicio.url}}">
            <figure><img src="{{site.baseurl}}/img/{{servicio.hero}}" alt="{{servicio.alt}}" ></figure>
            <h4 class="title">{{servicio.title}} </h4>
          </a>
        </article>
        {% endfor %}
        <a href="{{'blog'|relative_url}}" title="blog" class="dropbtn">Mira más artículos</a>
    </div>
  </div>
</section><!-- ##### END FACILITIES #####-->
</main>
