<!-- ##### CALL ACTION #####-->
<section class="space-top-short" id="call-to-action">
  <div class="container fixed-width-md-up">
    <div class="root">
      <div class="card paper">
        <div class="row align-items-center mb-0">
          <div class="col-md-8 pa-0">
            <h4 class="display-1 pb-2">Haz un gran cambio con tu cirugía plástica</h4>
            <p>Mi pasión es mejorar vidas. Y la tuya será la siguiente historia que llena mi carrera de gratitud y felicidad.</p>
          </div>
          <div class="col-md-4 pa-0">
            <div class="d-flex align-items-center justify-content-end">
              {% include boton.html %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- ##### END CALL ACTION #####-->