<section class="wrapper doctor">
  <h2>Este es el lugar donde podrás <span>recuperar la alegría y sensualidad</span> de tu cuerpo</h2>
</section>
<section class="gallery">
  <div class="tiler">
    <a data-fslightbox="gallery" href="{{'img/caso1.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso1.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" loading="lazy" height="400" width="400">
    </a>
  </div>
  <div class="tiler">
    <a data-fslightbox="gallery" href="{{'img/caso2.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso2.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" loading="lazy" height="400" width="400">
    </a>
  </div>
  <div class="tiler">
    <a data-fslightbox="gallery" href="{{'img/caso3.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso3.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" loading="lazy" height="400" width="400">
    </a>
  </div>
  <div class="tiler">
    <a data-fslightbox="gallery" href="{{'img/caso4.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso4.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" />
    </a>
  </div>
  <div class="tiler">
    <a data-fslightbox="gallery" href="{{'img/caso5.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso5.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" loading="lazy" height="400" width="400">
    </a>
  </div>
  <div class="tiler">
    <a data-fslightbox="gallery" href="{{'img/caso6.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso6.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" loading="lazy" height="400" width="400">
    </a>
  </div>
  <div class="tiler">
    <a data-fslightbox="gallery" href="{{'img/caso7.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso7.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" loading="lazy" height="400" width="400">
    </a>
  </div>
  <div class="tiler">
    <a data-fslightbox="gallery" href="{{'img/caso8.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso8.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" loading="lazy" height="400" width="400">
    </a>
  </div>
  <div class="tiler">
    <a data-fslightbox="gallery" href="{{'img/caso9.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso9.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" loading="lazy" height="400" width="400">
    </a>
  </div>
</section>