<section class="wrapper doctor">
  <h2>Este es el lugar donde podrás recuperar la alegría y sensualidad de tu cuerpo</h2>
</section>
<section class="gallery">
  <video src="{{'img/consulta.mp4'|relative_url}}" controls loading="lazy"></video>
  <video src="{{'img/consultorio.mp4'|relative_url}}" controls loading="lazy"></video>
  <video src="{{'img/proceso.mp4'|relative_url}}" controls loading="lazy"></video>
</section>
<section class="gallery">
  <div class="tiler">
    <a href="{{'img/caso13.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso13.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" loading="lazy">
    </a>
  </div>
  <div class="tiler">
    <a href="{{'img/caso2.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso2.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" loading="lazy">
    </a>
  </div>
  <div class="tiler">
    <a href="{{'img/caso10.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso10.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" loading="lazy">
    </a>
  </div>
  <div class="tiler">
    <a href="{{'img/cliente-hermes-gamba.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/cliente-hermes-gamba.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" />
    </a>
  </div>
  <div class="tiler">
    <a href="{{'img/caso7.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso7.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" loading="lazy">
    </a>
  </div>
  <div class="tiler">
    <a href="{{'img/caso5.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso5.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" loading="lazy">
    </a>
  </div>
  <div class="tiler">
    <a href="{{'img/caso9.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso9.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" loading="lazy">
    </a>
  </div>
  <div class="tiler">
    <a href="{{'img/caso6.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso6.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" loading="lazy">
    </a>
  </div>
  <div class="tiler">
    <a href="{{'img/caso12.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{'img/caso12.webp'|relative_url}}" title="Paciente del doctor Hermes Gamba" loading="lazy">
    </a>
  </div>
</section>