<header class="wrapper">
  <div class="flow">
    <div>
      <p>Siente la alegría de poder mirar tu cuerpo esvelto y atractivo después del embarazo</p>
      <h1>Hagamos tu Mommy Makeover</h1>
      <h4>Conviértete en una mamá atractiva y esbelta</h4>
    </div>
    {% include boton.html %}
  </div>
  <div>
    <a href="{{site.baseurl}}/img/cliente-2-hermes-gamba.webp" title="Paciente del doctor Hermes Gamba" target="_blank">
      <img src="{{site.baseurl}}/img/cliente-2-hermes-gamba.webp" alt="Paciente del doctor Hermes Gamba" title="Paciente del Doctor Hermes Gamba">
    </a>
  </div>
</header>