<div class="team wrapper" id="team">
    <h2 class="at-section__title">El equipo profesional que te cuidará en tu operación</h2>
  <div class="at-grid" data-column="3">
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg"/></div>
        <div class="at-user__name">Hermes Gamba</div>
        <div class="at-user__title">CEO &amp; Co-Founder</div>
      </div>
    </div>
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg"/></div>
        <div class="at-user__name">Hermes Gamba</div>
        <div class="at-user__title">Co-Founder, Creative Director</div>
      </div>
    </div>
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/boheme/128.jpg"/></div>
        <div class="at-user__name">Hermes Gamba</div>
        <div class="at-user__title">Office Manager</div>
      </div>
    </div>
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg"/></div>
        <div class="at-user__name">Hermes Gamba</div>
        <div class="at-user__title">Lead Developer</div>
      </div>
    </div>
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg"/></div>
        <div class="at-user__name">Hermes Gamba</div>
        <div class="at-user__title">Community Manager</div>
      </div>
    </div>
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/marcogomes/128.jpg"/></div>
        <div class="at-user__name">Hermes Gamba</div>
        <div class="at-user__title">Lead Designer</div>
      </div>
    </div>
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg"/></div>
        <div class="at-user__name">Hermes Gamba</div>
        <div class="at-user__title">Brand Designer</div>
      </div>
    </div>
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg"/></div>
        <div class="at-user__name">Hermes Gamba</div>
        <div class="at-user__title">New Business</div>
      </div>
    </div>
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/tonychester/128.jpg"/></div>
        <div class="at-user__name">Hermes Gamba</div>
        <div class="at-user__title">UX Designer</div>
      </div>
    </div>
  </div>
</div>