.blog-main{
  position: relative;
  width: min(calc(100% - 16px), 1024px);
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 100;
  gap: 1.6em;
}

.blog-main h2{
  max-width: 100%;
  font-weight: 700;
  color: var(--clr-principal);
  text-transform: capitalize;
}

.blog-main > article{
  flex: 1 0 280px;
  max-width: 280px;
  box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.06);
  background-color: white;
  height: min-content;
  border-radius: var(--radius);
  transition: all .4s ease-in;
}

.blog-main article:hover{
  transform: scale(1.05);
}

.blog-main .item img{
  max-width: 100%;
}

.blog-main article h4{
  padding: 20px 12px;
}

.blog-main .dropbtn{
  flex-grow: ;
}

.entradas {
  display: grid;
}

.entradas h2{
  margin-bottom: 1em;
}

.entradas > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
}

.entradas > div h3 {
  flex: 0 1 800px;
  justify-self: left;
}

.entradas > div article {
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  flex: 0 1 320px;
  max-width: 100%;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .4s;
}

.entradas > div article:hover{
  transform: scale(1.05);
}

.entradas > div article h4 {
  color: var(--accion);
  font-size: 1.2em;
  padding: 12px 20px;
  font-weight: 700;
}

.entradas > a {
  justify-self: center;
  margin-top: 2rem;
}

.rect {
  border-top: 3px solid var(--clr-secundario);
  border-bottom: 3px solid var(--clr-secundario);
  padding-top: 15px;
  margin: 2em auto 0;
}

.rel {
  width: 200px;
  display: inline-block;
  padding: 5px;
  opacity: 0.8;
}

.rel:hover {
   opacity: 1;    
}

.rel img{
  padding: 12px 0;
}