.header-contacto{
  position: relative;
  height: 80vh;
  background-image: url('/img/contacto-hermes-gamba.webp');
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.header-contacto > div{
  position: relative;
  background-color: rgba(120, 166, 207, 0.756);
  z-index: 2;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.text-hero{
  z-index: 2;
  padding: 3em 16px;
  width: min(100%, 800px);
  display: grid;
  place-items: center;
  text-align: center;
}

.text-hero h1{
  color: var(--principal);
}

.text-hero p {
  color: white;
  font-weight: 700;
}

.datos{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 2em 0;
  align-items: center;
}

.datos div{
  flex: 1 0 480px;
  max-width: 100%;
}

.datos div ul{
  display: grid;
  gap: 1em;
  border-left: 2px solid var(--accion);
  margin-top: 2em;
}

.datos .redes{
  display: flex;
  gap: 1em;
}

.map{
  box-shadow: var(--shadow);
}

.contacto-redes{
  display: grid;
  place-items: center;
}