.header-landing{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  align-items: center;
  justify-content: center;
  height: 86dvh;
}

.header-landing > div{
  flex: 1 0 400px;
  max-width: 100%;
}

.header-landing h1{
  text-transform: uppercase;
  color: var(--principal);
}

.header-landing img{
  -webkit-mask-image: url('/img/shape.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url('/img/shape.svg');
  mask-repeat: no-repeat;
  mask-position: center center;
  width: min(100%, 560px);
  mask-size: contain;
}
