.header-home{
  min-height: 80vh;
  width: 100%;
  background: linear-gradient(270deg, white, var(--accion), white, var(--accion));
  background-size: 800% 800%;
  animation: moveLight 30s ease infinite;
  background-color: #ffffff20;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes moveLight {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header-home div{
  width: min(100%, 520px);
  display: grid;
  gap: 2em;
  align-content: center;
  justify-items: flex-end;
  text-align: right;
  padding: 2em;
}

@media screen and (max-width: 1023px) {
  .header-home div{
    text-align: center;
    justify-items: center;
  }
}

.header-home div p{
  font-weight: 700;
}

.header-home img{
  width: min(100%, 502px);
  align-self: flex-end;
}

.header-contacto{
  background-image: url('/img/contacto-hermes-gamba.webp');
}

.header-gluteoplastia{
  background-image: url('/img/gluteoplastia.webp');
}

.header-lipoescultura{
  background-image: url('/img/lipoescultura.webp');
}

.header-rinoplastia{
  background-image: url('/img/operacion-nariz.webp');
}

.header-lipopapada{
  background-image: url('/img/operacion-papada.webp');
}

.header-bichectomia{
  background-image: url('/img/operacion-mejillas.webp');
}

.header-blefaroplastia{
  background-image: url('/img/operacion-parpados.webp');
}

.header-contacto,
.header-lipoescultura,
.header-lipopapada,
.header-rinoplastia,
.header-blefaroplastia,
.header-bichectomia,
.header-gluteoplastia{
  position: relative;
  height: 80vh;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.header-contacto > div,
.header-lipoescultura > div,
.header-lipopapada > div,
.header-rinoplastia > div,
.header-blefaroplastia > div,
.header-bichectomia > div,
.header-gluteoplastia > div{
  position: relative;
  background-color: rgba(120, 166, 207, 0.756);
  z-index: 2;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.text-hero{
  z-index: 2;
  padding: 3em 16px;
  width: min(100%, 800px);
  display: grid;
  place-items: center;
  text-align: center;
}

.text-hero h1{
  color: var(--principal);
}

.text-hero p {
  color: white;
  font-weight: 700;
}