---
layout: compress
---
{% include head.html %}
  <body>
    <span class="toggle" onclick="openNav()">&#9776;</span>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2DVS2W5"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include nav.html %}
  {% include header.html %}
    {{ content }}
  {% include footer.html %}
  <a href="#">{% include boton-up.html %}</a>
  </body>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "320px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>
</html>