---
layout: default
---
<!-- ##### BANNER #####-->
<section id="banner">
  <div class="hero-content">
    <div class="hidden-sm-up">
      <figure class="mobile-cover">
        <img src="/img/{{page.hero}}" alt="{{page.alt}}">
      </figure>
    </div>
    <div class="container mq-lg-up" data-class="fixed-width">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="banner-text">
            <div class="title">
              <h1 class="text-helper use-text-title">{{page.h1}}</h1>
            </div>
            <p class="subtitle use-text-subtitle2">{{page.excerpt}}</p>
          </div>
        </div>
        <div class="col-md-6 pa-6 show-sm-up">
          <div class="deco-banner">
            <div class="menu-bg"></div>
            <div class="video-bg"></div>
          </div>
          <div class="video-wrap">
            <div class="video-figure">
              <div class="inner-figure">
                <img class="show-md-down" src="/img/{{page.hero}}" alt="{{page.alt}}" >
                <img class="hidden-md-down" id="banner_cover" src="/img/{{page.hero}}" alt="{{page.alt}} >
              </div>
            </div>
          </div>
          <div class="parallax-banner">
            <div class="parallax-wrap dots-wrap">
              <div class="inner-parallax">
                <div class="figure">
                  <div>
                    <div data-enllax-ratio="0.2" data-enllax-type="foreground">
                      <img src="./assets/images/decoration/dot-deco.svg" alt="dot deco" >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- ##### END BANNER #####-->

<article class="servicio">
  {{content}}
  <h4 class="title">Encuentra más información sobre {{page.category|capitalize}}</h4>
  <aside class="rect">

    {% assign maxRelated = 4 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}
  
  
    {% for post in site.posts %}
  
  
      {% assign sameTagCount = 0 %}
      {% assign commonTags = '' %}
  
      {% for tag in post.categories %}
        {% if post.url != page.url %}
          {% if page.categories contains tag %}
            {% assign sameTagCount = sameTagCount | plus: 1 %}
            {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
            {% assign commonTags = commonTags | append: tagmarkup %}
          {% endif %}
        {% endif %}
      {% endfor %}
  
      {% if sameTagCount >= minCommonTags %}
  
            <a href="{{ site.baseurl }}{{ post.url }}">
                <div class="rel">
                    <h5>{{ post.h1 }}</h5>
                    <img width="100%" src="{{site.baseurl}}/img/{{post.hero}}">
                </div>
            </a>
  
        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
          {% break %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </aside>
</article>
